::-webkit-scrollbar {
    width: 0.8vw;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: #181818; 
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #aaaaaa;
    border-radius: 10px;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #6d6d6d;
  }

header{
    background-color:#202020d0;
    text-align: left;
    color: rgb(224, 224, 224);
    position: fixed;
    width: 100%;  
    top: 0;
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    color: inherit;
    text-decoration: none;
    font-size: 1.3vw;
}

a:hover {
    color: rgb(150, 150, 150);
}

html {
    scroll-behavior: smooth;
}

h1 {
    margin: 0;
    font-size: 3.1vw;
    padding: 2vw;
    padding-left: 4vw;
}

body {
    margin: 0;
    font-family: 'Roboto';
    background-color: #181818;
}

.box {
    width: auto;
    margin: 3vw 2vw 0 2vw;
    background-color: #2e2e2e;
    border-radius: 2vw;
    padding: 2.5vw;
    display: flex;
    justify-content: space-between;
}   

.boxtext {
    margin-left: 0;
    width: 67.4vw;
}

.topbox {
    margin-top: 10vw;
}

.bottombox {
    margin-bottom: 3vw;
}

img {
    width: 20vw;
    height: 20vw;   
    border-radius: 1.5vw;
    margin-right: 2vw;
}

h1, h2, h3, h4, p, a
{
    color: rgb(224, 224, 224);
}

.headerLink {
    margin-left: 2vw;
}

h2 {
    font-size: 2vw;
}

p {
    font-size: 1.2vw;
}