@font-face {
    font-family: 'Product';
    src: url(./ProductSans-Light.ttf);
}

::-webkit-scrollbar {
    width: 0.8vw;
}

/* Track */

::-webkit-scrollbar-track {
    background: #181818;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #aaaaaa;
    border-radius: 10px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #4d4d4d;
}

header {
    background-color: #202020bb;
    text-align: center;
    color: rgb(224, 224, 224);
    position: fixed;
    width: 100%;
    height: 19vw;
    top: 0;
    backdrop-filter: blur(6px);
    align-items: center;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
    font-size: 3vw;
    margin-top: 0;
}

a:hover {
    color: rgb(83, 83, 83);
}

html {
    scroll-behavior: smooth;
}

h1 {
    margin: 0;
    font-size: 7vw;
    padding: 2vw;
    padding-left: 0;
}

body {
    margin: 0;
    font-family: 'Product';
    background-color: #181818;
}

.box {
    width: auto;
    margin: 3vw 2vw 0 2vw;
    background-color: #2e2e2e;
    border-radius: 5vw;
    padding: 4vw;
    padding-top: 1.2vw;
}

.boximg {
    padding: 2.5vw;
}

iframe {
    color: black;
    border-radius: 4vw;
    border: none;
    width: 88vw;
    max-height: 49.5vw;
}

.soundbutton {
    width: 110px;
}

.boxtext {
    margin-left: 1vw;
}

.topbox {
    margin-top: 22vw;
}

.bottombox {
    margin-bottom: 3vw;
}

.justtext {
    padding-bottom: 0.6vw;
}

img {
    width: 100%;
    height: 40vw;
    border-radius: 3.5vw;
    margin-right: 2vw;
    object-fit: cover;
}

h1, h2, h3, h4, p, a {
    color: rgb(224, 224, 224);
}

.selected {
    text-decoration: underline;
}

.headerLink {
    margin-left: 2vw;
}

h2 {
    font-size: 4vw;
}

p {
    font-size: 3vw;
}

.button {
    margin: 15vw 0 5vw 45vw;
    width: 8vw;
    color: #181818;
    background-color: #8b8b8b;
    padding: 1vw;
    text-align: center;
    font-size: 3vw;
    border-radius: 100px;
}

.button:hover {
    background-color: #3b3b3b;
}

@media (min-width: 770px) {
    ::-webkit-scrollbar {
        width: 0.8vw;
    }
    /* Track */
    ::-webkit-scrollbar-track {
        background: #181818;
    }
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #aaaaaa;
        border-radius: 10px;
    }
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #4d4d4d;
    }
    header {
        background-color: #202020bb;
        text-align: left;
        color: rgb(224, 224, 224);
        position: fixed;
        width: 100%;
        height: 8vw;
        top: 0;
        backdrop-filter: blur(6px);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    a {
        color: inherit;
        text-decoration: none;
        font-size: 1.3vw;
    }
    .selected {
        text-decoration: underline;
    }
    html {
        scroll-behavior: smooth;
    }
    h1 {
        margin: 0;
        font-size: 3.1vw;
        padding: 2vw;
        padding-left: 4vw;
    }
    body {
        margin: 0;
        font-family: 'Product';
        background-color: #181818;
    }
    .box {
        width: 90.3vw;
        height: fit-content;
        margin: 2vw 2vw 0 2vw;
        background-color: #2e2e2e;
        border-radius: 2vw;
        padding: 2.5vw;
        padding-top: 1.2vw;
    }
    .boximg {
        display: flex;
        justify-content: space-between;
        padding: 2.5vw;
    }
    iframe {
        border-radius: 2vw;
        width: 41vw;
        height: 23.0625vw;
        max-height: 24.75vw;
    }
    .soundbutton {
        width: 110px;
        height: 105px;
    }
    .boxtext {
        margin-left: 0;
    }
    .topbox {
        margin-top: 10vw;
    }
    .bottombox {
        margin-bottom: 3vw;
    }
    .justtext {
        padding-bottom: 0.6vw;
    }
    img {
        object-fit: cover;
        width: 20vw;
        height: 20vw;
        border-radius: 1.5vw;
        margin-right: 2vw;
    }
    h1, h2, h3, h4, p, a {
        color: rgb(224, 224, 224);
    }
    .headerLink {
        margin-left: 2vw;
    }
    h2 {
        font-size: 2vw;
    }
    p {
        font-size: 1.2vw;
    }
    .cont {
        display: flex;
        margin: 0;
    }
    .nottop {
        margin-top: 10vw;
    }
    .leftbox {
        margin-right: 0vw;
    }
    .rightbox {
        margin-left: 2vw;
    }
    .leftbox, .rightbox {
        width: 43vw;
    }
}